<h1 class="py-6 flex m-5 text-4xl">
    Kategoriyani tanlang
  </h1>

<div class = " flex m-5  space-x-10 text-2xl" >
  <button  routerLink="contact " class="h-11  p-2 w-120 text-red-700 bg-amber-300 rounded-full"  >
    GUMBAZLAR
  </button>

  <button routerLink="contact " class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full "  >
    DIMAHODLAR
  </button>

  <button routerLink="contact " class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full "  >
    VINTILATSIYA
  </button>
  <button routerLink="contact " class="h-11 w-100 p-2  text-red-700 bg-amber-300 rounded-full "  >
    PROFNASTIL
  </button>
  <button routerLink="contact " class="h-11 w-100 p-2 text-red-700 bg-amber-300 rounded-full "  >
    AKSESUARLAR
  </button>

</div>
