<mat-toolbar style = background-color:cornflowerblue>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button >
  <span class="text-amber-200">My App</span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <button routerLink = "about" class="text-amber-200">ABOUT </button>
  <span class="example-spacer"></span>
  <button routerLink = "menu" class="text-amber-200">MENU </button>

  <span class="example-spacer"></span>
  <button routerLink = "product" class="text-amber-200">PRODUCT </button>

  <span class="example-spacer"></span>

  <button routerLink = "contact" class="text-amber-200">CONTACT </button>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>




  <button  mat-icon-button class="example-icon"  aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>shopping_bag</mat-icon>
  </button>
  <button routerLink="login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </button>
  <button routerLink="register" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>add_reaction</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>format_list_bulleted</mat-icon>
  </button>

</mat-toolbar>

