<mat-toolbar class="navbar fixed top-0 left-0 w-full z-50 flex justify-between items-center px-4" style="background-color:cornflowerblue">
  <div class="flex items-center space-x-4">
    <img src="http://localhost:5000/images/qqqqqqq.png" class="rounded-full" width="65" height="80">
    <span class="text-amber-200">XUNARMAND.UZ</span>
  </div>
  <div class="flex-grow flex justify-center space-x-10">
    <button routerLink="about" class="text-amber-200">ABOUT</button>
    <button routerLink="menu" class="text-amber-200">MENU</button>
    <button routerLink="product" class="text-amber-200">PRODUCT</button>
    <button routerLink="contact" class="text-amber-200">CONTACT</button>
  </div>
  <div class="flex items-center space-x-4">
    <span class="text-white">33 011 71 11</span>
    <button mat-icon-button class="text-white" aria-label="Example icon-button with share icon">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
  </div>
</mat-toolbar>
