<mat-toolbar class="flex flex-wrap scroll-px-1422" style="background-color: cornflowerblue">
<!--  <div class="flex gap-12 px-30 py-3 text-lg-center" >-->
    <button routerLink = "home"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
<!--  </div>-->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>search</mat-icon>
    </button>
    <button routerLink = "login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>login </mat-icon>
    </button>
    <button routerLink = "register" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout </mat-icon>
    </button>
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>shopping_cart </mat-icon>
    </button>

</mat-toolbar>

