<footer class="footer">
  <div class="footer-container">
    <div>
      <img src="app/photos/qqqqqqq.png" alt="qaniii">
    </div>


    <div class="footer-column">
      <ul class="footer-nav">
        <li class="footer-title">Products</li>
        <li><a href="#">Dimaxodlar</a></li>
        <li><a href="#">Gumbazlar</a></li>
        <li><a href="#">Prosnastilar</a></li>
        <li><a href="#">Aksesuarlar</a></li>
      </ul>
    </div>
<!--    <div class="footer-column">-->
<!--      <ul class="footer-nav">-->
<!--        <li class="footer-title">Support</li>-->
<!--        <li><a href="#">Blog</a></li>-->
<!--        <li><a href="#">Help</a></li>-->
<!--        <li><a href="#">FAQ</a></li>-->
<!--      </ul>-->
<!--    </div>-->
    <div class="footer-column">
      <ul class="footer-nav">
        <li class="footer-title">Malumotlar</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <ul class="footer-nav">
        <li class="footer-title">Contact</li>
        <li><a href="mailto:support@gmail.com">support&#64;gmail.com</a></li>
        <li><a href="tel:+918576423456">+998 90 808 64 17</a></li>
        <li><a href="tel:+918576423456">+998 33 011 71 11</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="social-icons">
      <button class="social-button">
        <mat-icon>instagram</mat-icon>
      </button>
      <button class="social-button">
        <mat-icon>telegram</mat-icon>
      </button>
      <button class="social-button">
        <mat-icon>facebook</mat-icon>
      </button>
    </div>
    <div class="footer-info">
      &copy; 2024 <strong>Propeller</strong>. Crafted by <a href="#">DIGI<strong>CORP</strong></a>
    </div>
  </div>
</footer>
